body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
main {
    margin: 20px;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 div h3 b{
    color: #4CAF50;
}