body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

p {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

input[type="checkbox"] {
    width: 20px; /* Adjust width of checkbox */
    display: inline-block;
    margin-right: 5px; /* Adjust spacing between checkbox and label */
}
label.checkbox-label {
    display: inline-block;
    vertical-align: top; /* Align label with checkbox */
    margin-bottom: 0; /* Remove extra bottom margin */
    margin-right: 10px; /* Add some space to the right of each label */
}
h2 {
    text-align: center;
    margin-top: 20px;
}
table td{
    padding: 10px;
    text-align: center;

}