
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
main {
    margin: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-bottom: 10px;
    font-weight: bold;
}
input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button[type="submit"]:hover {
    background-color: darkred;
}
.error-message {
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
.cancellation-charges {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}
.cancellation-charges h2 {
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
