body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

.action {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.action a {
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.action a:hover {
    background-color: #333;
    color: #fff;
}
