/* Add your custom styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white;
}

#title {
    color: black;
}

form {
    text-align: center;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-top: 1px solid #ccc;
}

.details-table {
    margin: auto;
    border-collapse: collapse;
}

.details-table th,
.details-table td {
    margin-top: 8px ;
    margin-bottom: 8px;
    padding: 8px;
    text-align: left;
}

.details-table td{
    font-style: normal;
}
.details-table th {
    background-color: #f2f2f2;
}

.passenger-table {
    margin: auto;
    border-collapse: collapse;
}
.passenger-table td{
    font-style: normal;
}

.passenger-table th,
.passenger-table td {
    padding: 8px;
    margin-bottom: 8px;
    text-align: left;
}

.passenger-table th {
    background-color: #f2f2f2;
}

#errorMsg {
    width: 100%;
    color: red;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
